.movie-card {
    background-color: #000; /* Black background for the card */
}

.movie-card img {
    width: 100%;
    height: 300px;
    padding: 5px;
    object-fit: cover;
    background-color: #000;
}

.movie-card .card-body {
    color: #fff;
    bottom: 0;
    width: 100%;
    padding: 15px;
}

.card-title {
    text-align: center;
}

.error {
    font-size: 50px;
    color: #ff6347;
}




